# --- File di Sistema (Mac/Windows) ---
.DS_Store
._*
Thumbs.db

# --- Cartelle di compilazione ---
# Ignoriamo tutto il contenuto delle cartelle di build
build/
bin/

# --- File Oggetto e Dipendenze ---
# Nel caso compilassi fuori dalle cartelle dedicate
*.o
*.d

# --- Eseguibili (Binari) ---
# Nomi specifici dei tuoi programmi
main
operatore
utente
erogatore
aggiungi_utenti

# --- File generati a runtime ---
# File di output della simulazione (statistiche, log)
*.csv
*.log
*.txt

# --- File temporanei IPC (se creati in locale) ---
*.key

# --- Configurazioni IDE ed Editor ---
.vscode/
.idea/
*.swp
*~